body{
    font-size: 18px;
    font-family: Montserrat;
    margin-left: 20px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 20px 0 2px 20px;
    overflow: auto;
}
li{
    float: left;
    padding: 10px 18px;
    margin: 0 10px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    position: relative;
}
li:active{
    top: 2px;
}
.text-wrapper{
    overflow: auto;
}

.text{
    float: left;
    width: 50%;
    box-sizing: border-box;
}
.private-replica-wrapper{
    padding: 20px;
}
.all-replicas-wrapper{
    padding-top: 20px;
}
#private-replica{
    border-right: 1px solid black;
    height: 500px;
}